body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:rgb(206, 250, 250);
}
.area {
    height: 500px;
    width: 500px;
    border: 2px solid black;
    position: relative;
    background-color:#e7e4e7;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.box {
    border: 1px solid black;
    position: absolute;
    box-sizing: border-box;
        @extend %sprite;
        box-shadow: 0 0 50px 30px #f6f5f7 inset;
        z-index: 1;
        
        &::before {
          position: relative;
          content: '';
          display: block;
          box-shadow: 0 0 0 1px #818081;
          padding-top: 100%;
        }
        
        &::after {
          position: absolute;
          top: 0;
          right: 1px;
          bottom: 1px;
          left: 0;
          content: '';
          box-shadow: 0 0 0 15px #918f91 inset;
        }
      
}
.apple {
    border: 1px solid black;
    position: absolute;
    box-sizing: border-box;
    @extend %sprite;
    box-shadow: 0 0 50px 30px #f6f5f7 inset;
    z-index: 1;
    
    &::before {
      position: relative;
      content: '';
      display: block;
      box-shadow: 0 0 0 1px #818081;
      padding-top: 100%;
    }
    
    &::after {
      position: absolute;
      top: 0;
      right: 1px;
      bottom: 1px;
      left: 0;
      content: '';
      box-shadow: 0 0 0 15px #9b1616 inset;
    }
}

.score{
    width: 200px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.modal {
    visibility: hidden;
    position: absolute;
    align-items:center;
    width: 200px;
    text-align: center;
    background-color:azure;
    vertical-align:text-bottom;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing:border-box;
}

.hide {
    visibility: hidden;
}

.show {
    visibility:visible;
}

button{
    margin-top: 50px;
}

